:root {
    --blue: #69c5f0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
}

h1,
h2,
h3 {
    text-align: center;
    font-size: x-large;
}

/* Removing the default link "style" */
a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    margin: 0;
}

img {
    width: 100%;
    max-width: 300px;
    height: auto;
}


/* Setting items in the header to align right in a row */
nav {
    justify-content: right;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: var(--blue);
    padding: 1.5rem;
}

/* Setting the line items to aling to the right and stay in a row in the header. */
nav ul li {
    justify-content: right;
    display: inline;
    flex-wrap: wrap;
    flex-direction: row;
    margin-right: 2rem;
    font-weight: bold;
}

.background-image {
    height: 650px;
    width: 100%;
    background-image: url(./../images/stock.jpg);
    background-size: cover;
    background-position: center;
}

/* "About Me" section styling" */
.about {
    justify-content: left;
    text-align: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: auto;
    display: block;
    background-color: var(--blue);
    padding: 1rem;
    outline: 2px solid;
    margin-bottom: 20px;
    height: 300px;
    line-height: 1.5;
    position: relative;
}

/* Moving my profile picture to the right of the section */
.about-profile-pic {
    margin-left: 25px;
    height: 200px;
    width: 200px;
    right: 0;
    bottom: 0;
    float: right;
}

/* Removing flexbox from main section styling & elements */
.section-portfolio {
    padding: 1rem;
    width: 100%;
    outline: 2px solid;
    background-color: var(--blue);
    justify-content: center;
    margin-bottom: 20px;
    line-height: 1.5rem;
    position: relative;
}

/* Portfolio div for App containers used below */
.portfolio {
    display: flex;
    padding: 1rem;
    background-color: var(--blue);
    justify-content: center;
    margin-bottom: 20px;
    line-height: 1.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    position: relative;
}

/* Large container for first application, which must be larger than the rest */
.portfolio-container-large {
    flex-wrap: wrap;
    flex-direction: column;
    height: 300px;
    width: 300px; 
    line-height: 1.5rem;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

/* Small container for other apps outside the first */
.portfolio-container-small {
    flex-wrap: wrap;
    flex-direction: column;
    height: 250px;
    width: 250px;
    line-height: 1.5rem;
    margin-right: 20px;
    position: relative;
    overflow: hidden;
}

/* Adds a banner "header" element to the application containers */
.portfolio-header {
    display: flex;
    justify-content: center;
    height: 35px;
    margin-left: 0rem;
    background-color: whitesmoke;
    position: relative;
    box-shadow: inset 0 0 10px var(--blue);
}

/* Smaller footer section for contact info. */
.contact {
    justify-content: center;
    text-align: center;
    width: auto;
    display: block;
    background-color: var(--blue);
    padding: 1rem;
    line-height: 2rem;
    outline: 2px solid;
    margin-bottom: 20px;
    height: 100px;
    position: relative;
}